.epk-container {
    * {
        font-family: "Varta", sans-serif;
    }
    .epk-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 70px;
    }
    .epk-content,
    .epk-header {
        padding: 1rem;
    }
    .epk-content {
        h3 {
            font-family: 'Varta', sans-serif;
            font-weight: 700;
        }
        .covert-art {
            margin-bottom: 1rem;
        }
        img {
            width: 100%;
        }
        p {
            font-size: 18px;
        }
        .band-photo {
            @include breakpoint(mobile-only) {
                max-height: 300px;
                img {
                    object-position: 50% 8%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .row {
            margin: 0 0 1rem 0;
        }
        .download-button {
            padding: 1rem;
        }
    }
    .epk-header {
        height: 120px;
        img {
            height: 100%;
            @include breakpoint(mobile-only) {
                width: 100%;
            }
        }
    }
    .song-name {
        h1 {
            font-family: 'Varta', sans-serif;
            font-weight: 700;
            margin-bottom: 0;
            line-height: 1;
        }
        span {
            display: block;
            text-indent: 2px;
        }
    }
    .video {
        height: 0;
        padding-bottom: 56.25%;
        padding-top: 25px;
        position: relative;
        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}