footer {
	background-color: black;
	padding: 10px;
	.social-media {
		display: flex;
		flex-wrap: wrap;
		.social-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-top: 0;
			flex: 0 0 33%;
			img {
				height: 50px;
				object-fit: contain;
				width: 50px;
			}
		}
	}
}