footer {
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
	.footer-content {
		@include breakpoint(desktop) {
			margin: 0 auto;
			max-width: $breakpoint-desktop;
		}
	}
	.social-media {
		display: flex;
		justify-content: space-around;
		width: 100%;
		.social-icon {
			align-items: center;
			display: inline-flex;
			justify-content: center;
			margin-top: 0;
			img {
				object-fit: contain;
				width: 50px;
				@include breakpoint(mobile-only) {
					width: 40px;
				}
			}
			&.circle {
				img {
					width: 38px;
					@include breakpoint(mobile-only) {
						width: 30px;
					}
				}
			}
		}
		@include breakpoint(desktop) {
			justify-content: space-between;
		}
	}
}

#socials-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}