.home-container {
	padding-bottom: calc(70px + 1.5em);
	.home-content {
		> * + * {
			margin-top: 1.5em;
		}
		@include breakpoint(desktop) {
			margin: 0 auto;
			max-width: $breakpoint-desktop;
		}
	}
	background-color: $off-white;
	max-width: none;
	width: 100vw;

	.latest-release {
		h2 {
			margin-bottom: 0;
		}
	}

	.divider {
		background-image: url('/images/site_hr_flowers.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 100%;
		height: 50px;
	}
	@import 'type';
	@import 'footer';
	@import 'partials/partials.scss';
}

.top-nav {
	background-color: black;
	border-bottom: 3px solid $aversions-pink;
	position: sticky;
	height: 101px;
	top: 0;
	z-index: 10;
}

#logo-default {
	height: 72px;
	opacity: 100;
	transition: opacity 0.3s linear;
}

#logo-alternate {
	height: 72px;
	position: absolute;
	left: 1rem;
}

.navbar {
	margin: 0;
	height: 100%;
	@include breakpoint(desktop) {
		margin: 0 auto;
	}
}

.navbar-brand {
	margin: 0;
	height: 100%;
	#logo-default {
		height: 100%;
	}
}

.retractable {
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: $off-white;
}