$mobile-maxwidth: 667px;
$breakpoint-tablet: 668px;
$breakpoint-desktop: 950px;
$breakpoint-large-desktop: 1200px;

@mixin breakpoint($breakpoint) {
    @if $breakpoint == mobile-only {
        @media screen and (min-width: 0) and (max-width: $mobile-maxwidth) {
            @content;
        }
    }
    @else if $breakpoint == mobile-to-tablet {
        @media (max-width: $breakpoint-desktop) {
            @content;
        }
    }
    @else if $breakpoint == tablet {
        @media (min-width: $breakpoint-tablet) {
            @content;
        }
    }
    @else if $breakpoint == tablet-to-desktop {
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            @content;
        }
    }
    @else if $breakpoint == desktop {
        @media (min-width: $breakpoint-desktop) {
            @content;
        }
    }
    @else if $breakpoint == desktop-large {
        @media (min-width: $breakpoint-large-desktop) {
            @content;
        }
    }
    // Custom value insertion
    @else {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

$margin-bottom: 0.5rem;