$margin-bottom: 0.5rem;
$mobile-maxwidth: 714px;
$breakpoint-desktop: 715px;

@mixin breakpoint($breakpoint) {
    @if $breakpoint == mobile-only {
        @media screen and (min-width: 0) and (max-width: $mobile-maxwidth) {
            @content;
        }
    }
    @else if $breakpoint == mobile-to-desktop {
        @media (max-width: $breakpoint-desktop) {
            @content;
        }
    }
    @else if $breakpoint == desktop {
        @media (min-width: $breakpoint-desktop) {
            @content;
        }
    }
    // Custom value insertion
    @else {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}