@mixin angled-overlay { 
	background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	@include breakpoint(desktop) {
		clip-path: polygon(0 0, 75% 0, 50% 100%, 0% 100%);
	}
}