// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';
@import 'layout';
@import 'forms';
@import 'nav';
@import 'home';
@import 'partials/partials.scss';
@import 'type';
@import 'slick';


// Datepicker
@import '~js-datepicker/src/datepicker';

* + * {
	margin-top: 1.5em;
}

.no-top-margin {
	margin-top: 0;
}

.container-fluid {
	overflow: hidden;
	padding: 0;
}

#dashboard-header {
	background-color: black;
	padding: 5px calc(15px + 0.5rem);
	h1 {
		color: white;
		font-size: 1em;
		margin: 0;
	}
}

.dashboard-content {
	padding: 15px 15px 0;
}

.no-right-margin {
	margin-right: 0;
}

.hidden {
	display: none;
}

.latest-release {
	h2 {
		margin-bottom: 0;
	}
}

.linktext {
	color: red!important;
}

.divider {
	background-image: url('/storage/img/site_hr_flowers.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 50px;
}