// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'helpers';
@import 'variables';
@import 'mixins';
@import 'layout';
@import 'type';
@import 'home';
@import 'epk';
@import 'splash';
@import 'dashboard';
@import 'slick';

html {
	font-size: 16px;
}

main {
	&.container-fluid {
		overflow: unset;
	}
}

.no-top-margin {
	margin-top: 0;
}

.no-right-margin {
	margin-right: 0;
}

.container-fluid {
	overflow: hidden;
	padding: 0;
}

#dashboard-header {
	background-color: black;
	padding: 5px calc(15px + 0.5rem);
	h1 {
		color: white;
		font-size: 1em;
		margin: 0;
	}
}

.dashboard-content {
	padding: 15px 15px 0;
}

.hidden {
	display: none;
}