#logo-alternate {
	height: 42px;
	position: absolute;
	left: 1rem;
	@include breakpoint(desktop) {
		height: 72px;
	}
}
#logo-default {
	height: 42px;
	opacity: 100;
	transition: opacity 0.3s linear;
	@include breakpoint(desktop) {
		height: 72px;
	}
}
.navbar {
	margin: 0;
	height: 100%;
	@include breakpoint(desktop) {
		margin: 0 auto;
	}
	.navbar-links {
		ul {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;
			li {
				font-family: 'Black Ops One';
				text-transform: uppercase;
				border: 1px dashed $pop-colour;
				padding: 2px;
				font-size: 1.5rem;
				line-height: 1.5rem;
				&:hover {
					border-color: black;
				}
				a {
					transition: none;
					color: black;
					&:hover {
						color: $pop-colour;
						text-decoration: none;
					}
				}
			}
		}
	}
}
.navbar-brand {
	margin: 0;
	height: 100%;
}
.top-nav {
	background-color: $off-white;
	border-bottom: 2px solid $aversions-pink;
	position: sticky;
	height: 70px;
	top: 0;
	z-index: 10;
	@include breakpoint(desktop) {
		height: 100px;
	}
}