.pullquote {
	h3 {
		font-family: 'Special Elite', cursive;
	}
	.quote_caption {
		font-family: 'Black Ops One', cursive;
		font-size: 1.25rem;
	}
}

.quote-carousel_arrows {
	position: relative;
	height: 40px;
}

.carousel-button {
	width: 60px;
	height: 40px;
	background-image: url(/images/quote-carousel_pointing-hand.svg);
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	&:hover {
		background-image: url(/images/quote-carousel_pointing-hand_pink.svg);
		transform: rotate(-5deg);
	}
	&.slick-prev {
		transform: scaleX(-1);
		left: 0;
		&:hover {
			transform: rotate(5deg) scaleX(-1);
		}
	}
	&.slick-next {
		right: 0;
	}
}

.quote-carousel {
	.slick-slide {
		margin-top: 0;
	}
}