.show-list {
	position: relative;
	width: 100%;
	&_container {
		text-align: right;
	}
}

#show-list_past,
#show-list_upcoming {
	table {
		width: 100%;
	}
	thead {
		tr {
			background-color: black;
			th {
				color: $off-white;
				font-family: 'Black Ops One', cursive;
				text-transform: uppercase;
			}
		}
	}
	tbody {
		tr {
			td {
				font-family: 'Special Elite', cursive;
				padding: 5px;
			}
		}
	}
}

#show-list_selector {
	background-color: black;
	border-radius: 5px;
	color: $off-white;
	display: inline-block;
	font-family: 'Black Ops One', cursive;
	margin: 0 0 $margin-bottom;
	padding: 0.4rem;
	position: absolute;
	right: 0;
	top: 0;
	span {
		border-radius: 5px;
		padding: 0.4rem;
		&.past {
			background-position: right bottom;
			&.selected {
				background: linear-gradient(to left, black 50%, $off-white 50%);
			    background-size: 200% 100%;
	    		background-position: left bottom;
			}
		}
		&.upcoming {
			&.selected {
				background: linear-gradient(to right, black 50%, $off-white 50%);
			    background-size: 200% 100%;
	    		background-position: right bottom;
			}
		}
		&.selected {
			color: black;
			transition: color 0s ease-in-out 0.2s, background 0.2s ease-in-out;
		}
		&:hover {
			cursor: pointer;
		}
	}

}
